/*---------header---------*/
@font-face {
    font-family:akiraexpanded;
    src: url(akira.otf);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: auto;
}
h1{
    color:rgb(255, 152, 35);
}

.cabeza{
    background-color: rgb(255, 150, 12);
    height: 100px;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    grid-area: cabeza;
}
.cabeza nav h1{
    font-size: 50px;
    font-family:akiraexpanded; 
    font-weight: 500;
    font-style:initial;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}
.cabeza nav h1 a{
    text-decoration: none;
    color:white;
    
}

.cabeza nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(131, 131, 131);
    height: 40px;
    margin-top: 20px;
}
.cabeza nav ul li{
    list-style-type: none;
    margin-top: 5px;
}
.cabeza nav ul li a{
    text-decoration: none;
    font-family:poppins;
    font-size: 20px;
    font: weight 50px;
    color: rgb(255, 255, 255);
    padding: 5px;
    top: 70px;
    margin-inline: 10px;
    transition: font-size 1s;
}
.cabeza nav ul li a:hover{
    font-size: 25px;
}


/*---------main---------*/
.carrousel{
    margin-top: 150px;
    width: 1400px;
    height: 800px;
    margin-inline: auto;
    grid-area: carrousel;
}
.d-block{
    height: 800px; 
}
.carousel-caption{
    font-family: poppins;
    color: gray;
    padding-top: 350px;
    padding-bottom: 350px;
}
.carousel-caption h5{
    font-size: 80px
}
.carousel-caption p{
    font-size: xx-large;
}
#imagen2{
    color: white;
}

.temporada a{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 150, 12);
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 350px;
}
.categorias{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: stretch;
    align-items: stretch;
    width:auto;
    grid-area: categorias;
}
.categorias div{
    font-family:akiraexpanded;
    width: auto;
    height: 325px;
    border: 3px solid rgb(180, 180, 180);
    margin-inline: 30px;
    margin-top: 50px;
    border-radius: 5px;
    transition: box-shadow 1s;
}
.categorias div:hover{
    
    box-shadow: 1px 2px 14px 2px gray;
}
.categorias div a{
    text-decoration: none;
    color:rgb(51, 51, 51);
    font-size: x-large;
    padding: 5px;
    padding-top: 1px;
    transform: scale(2, 2);
    transition: font-size 1s;
}
.categorias div a:hover{
    font-size: xx-large;
}
.categorias div img{
    width: auto;
    height: 320px;
}
.destacados h2{
    color: orange;
    font-family:akiraexpanded;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 50px;
}
.gridProductos{
    margin-top: 40px;
    font-family: 'poppins';
    text-align: center;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items:center ;
    grid-area: productos;
}
.gridItem{
    border: 2px solid rgb(179, 179, 179);
    border-radius: 5px;
    width: 255px;
    height:410px;
    margin-top: 10px;
    transition: box-shadow 1s;
}
#pageProduct{
    margin-top: 110px;
}
.gridItem:hover{
    box-shadow: 1px 2px 14px 2px gray;
}
.gridItem a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: black;
    border: 2px solid rgb(32, 32, 32);
    margin-bottom: 5px;
    margin-top: 1px;
    height: 100%;
    border-radius: 4px;
    transition: font-size 1s;
}
.gridItem a:hover{
    font-size: 20px;
}
.gridItem img{
    width: 240px;
    height: 300px;
    padding: 5px 5px 5px 5px;
}
h2{
    color:gray
}
.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.fixed img{
    height: 50px;
    width: 50px;
}
.storesGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    "localUno parrafoUno parrafoUno"
    "parrafoDos parrafoDos localDos";
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: 600px;
    row-gap: 30px;
    column-gap: 30px;
    width: auto;
}
.locales h2{
    font-family: akiraexpanded;
    color: orange;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 50px;
}
.locales div{
    height: 475px;
    width: auto;
}
.storesItem{
    border: 3px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.storesItem h3{
    font-family: akiraexpanded;
    color: rgb(46, 46, 46);
    font-size: 30px;
}
.storesItem img{
    width: 500px;
    height: 400px;
}
.storesP{
    font-family: poppins;
    font-size: 20px;
}
#localUno{
    grid-area: localUno;
}
#parrafoUno{
    grid-area: parrafoUno;
    text-align: start;
    display: flex;
    align-items: center;
}
#parrafoDos{
    grid-area: parrafoDos;
    text-align: start;
    display: flex;
    align-items: center;
}
#localDos{
    grid-area: localDos;
}
.tituloDos{
    text-align: end;
}
/*-------footer--------*/

footer{
    margin-top:auto;
    background-color: rgb(255, 150, 12);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, auto);
    grid-template-areas: 
    "cuenta contacto none"
    "formulario redes mapa";
    justify-items: center;
    justify-content: center;
}

footer h2{
    color:rgb(255, 255, 255);
}
.contacto{
    font-family: akiraexpanded;
    font-size: 30px;
    grid-area: contacto;
}
.redes{
    grid-area: redes;
}
footer div img{
    height: 50px;
    width: 50px;
}
.cuenta{
    font-family: akiraexpanded;
    font-size: 30px;
    color: white;
    grid-area: cuenta;
}
.formulario{
    grid-area: formulario;
}
footer form div{
    font-family: 'poppins';
}
footer form div .genero{
    font-family: 'poppins';
}
footer iframe{
    height: 300px;
    width: 300px;
}
.mapa{
    grid-area: mapa;
}

/*vista mobile*/

@media screen and (max-width:480px){
    body{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        width: fit-content;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr auto;
    }
    main{
        min-height: 100vh;
        margin-bottom: 1000px;
    }
    .cabeza{
        height: 200px;
        z-index: 2;
    }
    .cabeza nav h1{
        text-align: center;
        font-size: 90px;
        margin-top: 45px;
    }
    .cabeza nav ul{
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }
    .cabeza nav ul li a{
        font-size: 40px;
    }
    .carrousel{
        width: auto;  
        margin-inline: auto;
        height: auto;
    }
    .carousel-indicators{
        color: gray
    }
    .carrousel img{
        height: 700px;
    }
    .categorias{
        display: flex;
        flex-direction: column;
        box-align: start;
        width:auto;
        margin-top: 20px;
        }
    .categorias div{
        height: 500px;
    }
    .categorias div img{
        height: 500px;
        width: 500px;
    }
    .categorias div a{
        font-size: 60px;
        padding-left: 10px;
    }
    .destacados h2{
        font-size: 70px;
    }
    .gridProductos{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 1232px;
        justify-content: space-around;
        column-gap: 0;
        row-gap: 10px;
        padding-top: 10px;
    }
    #pageProduct{
        margin-top: 200px;
    }
    .gridItem{
        width: 400px;
        height: max-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gridItem h3{
        font-size: 40px
    }
    .gridItem a{
        font-size: 30px;
    }
    .gridItem img{
        height: 480px;
        width: 350px;
    }
    .fixed{
        bottom: 100px;
        right: 100px;
    }
    .fixed img{
        height: 160px;
        width: 100px;
    }
    .storesGrid{
        margin-bottom: 1800px;
    }
    .storesP{
        font-size: 40px;
    }
    #pie{
        position: absolute;
        width: 1232px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        height: 2100px;
        padding-bottom:0;
        margin-top: 100px;
    }
    .contacto{
        font-size: 60px;
        text-align: center;
    }
    .redes div a img{
        height: 200px;
        width: 200px;
        justify-content: center;
        display: inline;
        margin-left: 150px;
    }
    .cuenta{
        font-size: 60px;
        text-align: center;
        padding-bottom: 100px;
    }
    .formulario{
        margin-inline: auto;
        scale: 200%;
        padding-top: 250px;
        padding-bottom: 350px;
    }
    .mapa{
        scale: 200%;
        margin-inline: auto;
        bottom: 0;
    }
    }

@media screen and (min-width: 481px) and (max-width: 1099px) {
    body{
        margin: 0;
        padding: 0;
    }
    .cabeza{
        height: 150px;
    }
    .cabeza nav ul{
        margin-top: 10px;
        height: 80px;
    }
    .cabeza nav ul li{
        margin-top: 5px;
    }
    .cabeza nav ul li a{
        font-size: 35px;
    }
    .cabeza nav h1{
        text-align: center;
        font-size: 80px;
    }
    .carrousel{
        width: auto;
        margin-top: 230px;
    }
    .carrousel img{
        height: 900px;
    }
    .categorias{
        display: grid;
        grid-template-columns: repeat 2fr 2fr;
        justify-items: stretch;
        width: auto;
        margin-top: 75px;
    }
    #pie{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        justify-content: stretch;
        padding-top: 30px;
        width: auto;
    }
}